@model LogisticApp.Models.Routes

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Routes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DeparturePoint" class="control-label"></label>
                <input asp-for="DeparturePoint" class="form-control" />
                <span asp-validation-for="DeparturePoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalPoint" class="control-label"></label>
                <input asp-for="ArrivalPoint" class="form-control" />
                <span asp-validation-for="ArrivalPoint" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" />
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArrivalDate" class="control-label"></label>
                <input asp-for="ArrivalDate" class="form-control" />
                <span asp-validation-for="ArrivalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceKm" class="control-label"></label>
                <input asp-for="DistanceKm" class="form-control" />
                <span asp-validation-for="DistanceKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuelConsumption" class="control-label"></label>
                <input asp-for="FuelConsumption" class="form-control" />
                <span asp-validation-for="FuelConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
